<nav>
    <h1>Movie Data</h1>
    <a href="/">[home]</a>
    <a href="/about">[about]</a>
    <a href="/movie genre">[movie genre]</a>
    <a href="/movie title">[movie title]</a>
    <a href="/director">[director]</a>
    <a href="/year released">[year released]</a>
    <a href="/cost">[cost]</a>

</nav>